body {
    color: #1c1c1c;
    font: 14px/24px 'Quicksand', sans-serif;
    background: #fff;
}


/* Heading Styles Starts */

h1 {
    font-size: 36px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}


/* Typography Styles Starts */

a {
    color: #f55d2c;
}

a:hover,
a:focus {
    color: #1b7f23;
    text-decoration: none;
}

.fa {
    font-size: 14px;
}


/* Buttons Styles Starts */

.buttons {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #e9e9e9;
}

.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 12px;
}

.btn-group>.btn-xs {
    font-size: 9px;
}

.btn-group>.btn-sm {
    font-size: 10.2px;
}

.btn-group>.btn-lg {
    font-size: 15px;
}

.btn-default {
    background-color: #222;
    border: none;
}

.btn-primary,
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled],
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled] {
    background: #f55d2c;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-main {
    background: #1c1c1c;
    border: none;
}

.btn-main.danger {
    background: #f12525;
    border-color: #d81c1c;
}

.btn-main.alt:hover,
.btn-main.alt:focus {
    background: #f55d2c;
    border-color: #f55d2c;
}

.btn-outline-1 {
    color: #1c1c1c;
    background: none;
    border: 1px solid #797979;
}

.btn-outline-1:hover,
.btn-outline-1:focus {
    color: #f55d2c;
    border-color: #f55d2c;
}

.btn-main.danger:hover,
.btn-main.danger:focus {
    background: #da0f0f;
    border-color: #da0f0f;
}

.btn-default,
.btn-primary,
.btn-main,
.btn-outline-1 {
    font-weight: 500;
}

.btn-default,
.btn-primary,
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled],
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.disabled,
.btn-default[disabled],
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-main {
    color: #ffffff;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23A1D1;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}


/* Bootstrap Issues Fixes Styles Starts */

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}


/* Layout Styles Starts */

#content {
    min-height: 600px;
}

hr {
    border-color: #b0b0b0;
}


/* Main Header Styles Starts */

.main-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
}


/* Top Bar Styles Starts */

.topbar {
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #c1c1c1;
}

.top-links>li:not(:last-child) {
    margin-right: 6px;
}

.top-links>li,
.top-links>li>a,
.top-links .dropdown-menu>li>a {
    color: #1c1c1c;
}

.top-links>li>a:hover,
.top-links>li>a:focus {
    color: #f55d2c;
    ;
    ;
}

.top-links .dropdown-menu>li>a {
    font-size: 14px;
    font-weight: 500;
}

.top-links .dropdown-menu>li>a:hover,
.top-links .dropdown-menu>li>a:focus {
    color: #fff;
    background: #f55d2c;
    ;
    ;
    outline: none;
}


/* Main Menu Styles Starts */

#menu {
    background: #fff;
}

#menu .navbar-brand {
    margin-right: 20px;
    padding: 0;
    height: auto;
    line-height: normal;
}

#menu .menu-links {
    padding: 18px 20px 0;
}

#menu .nav.menu-links>li {
    margin-left: 30px;
}

#menu .nav.menu-links>li>a {
    padding: 0 0 10px 0;
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 500;
}

#menu .nav.menu-links>li>a,
#menu .nav.menu-links>li>a:hover,
#menu .nav.menu-links>li>a:focus {
    background: none;
}

#menu .nav.menu-links>li:hover>a,
#menu .nav.menu-links>li>a:hover,
#menu .nav.menu-links>li.open>a {
    color: #f55d2c;
    ;
    ;
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    padding: 3px 20px 4px;
    min-width: 200px;
    display: block;
    clear: both;
}

#menu .dropdown-inner a,
#menu .see-all {
    color: #1c1c1c;
    font-size: 13px;
    font-weight: 500;
}

#menu .dropdown-inner li a:hover,
#menu .see-all:hover,
#menu .see-all:focus {
    color: #fff;
    background-color: #f55d2c;
    ;
    ;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    padding: 3px 20px;
    border-top: 1px solid #c1c1c1;
}

#menu .see-all:hover,
#menu .see-all:focus {
    text-decoration: none;
}

#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #1c1c1c;
}

#menu .btn-navbar {
    margin-left: 20px;
    padding: 6px 12px;
    float: right;
    color: #fff;
    font-size: 15px;
    font-stretch: expanded;
    background-color: #f55d2c;
    ;
    ;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
    color: #fff;
    background-color: #222;
}


/* Search Styles Starts */

.search-dropdown {
    margin-top: 5px;
    padding: 0;
}

.search-dropdown>.dropdown-menu {
    padding: 0;
    border: none;
}

.search-dropdown-input {
    border-color: #c1c1c1;
}

.search-dropdown-input:focus {
    border-color: #f55d2c;
    ;
    ;
}

.search-dropdown-btn {
    background: #f55d2c;
    ;
    ;
    border: 1px solid #f55d2c;
    ;
    ;
}

.search-dropdown-btn,
.search-dropdown-btn:hover {
    color: #fff;
}


/* Module Product Styles Starts */

.module-product-wrap {
    text-align: center;
    margin-bottom: 40px;
    margin-left: 20px;
}

.module-product-heading {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}

.module-product-heading::after {
    content: "";
    width: 90px;
    height: 3px;
    display: block;
    margin: 10px auto;
    background-color: #f55d2c;
}

.module-product {
    margin-bottom: 35px;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid #e9e9e9;
}

.module-product:hover {
    border-color: #d4d4d4;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.product-grid {
    text-align: center;
}

.module-product-image {
    text-align: center;
}

.module-product-image a:hover {
    opacity: 0.8;
}

.product-list .product-thumb .module-product-image {
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

.product-grid .product-thumb .module-product-image {
    float: none;
}

.module-product-caption {
    padding-top: 0;
    padding-bottom: 10px;
    min-height: 110px;
}

.product-list .module-product-caption {
    margin-left: 270px;
}

.module-product-title {
    margin-bottom: 10px;
}

.product-grid .module-product-description,
.product-grid .module-product-price .price-tax {
    display: none;
}

.module-product-price {
    margin-top: 5px;
    color: #f55d2c;
    font-size: 18px;
    font-weight: bold;
}


/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}


/* Form Styles Starts */

#content .form-control {
    border: 1px solid #c4c4c4;
}


/* Copyright Styles Starts */

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2c2c2c;
}

.copyright,
.copyright a {
    color: #fff;
}

.copyright-text br {
    display: none;
}

.copyright-text a:hover,
.copyright-text a:focus {
    text-decoration: underline;
}

.copyright ul>li:not(:last-child) {
    padding-right: 14px;
}

.copyright ul>li a:hover,
.copyright ul>li a:focus {
    color: #f55d2c;
    ;
    ;
}


/*#f55d2c;;
#f55d2c;;
*/


/* Image Styles Starts */

.img-style-1 {
    padding: 5px;
    border: 1px solid #e9e9e9;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}


/* Form Styles Starts */

#content .form-control {
    border: 1px solid #c4c4c4;
}


/* Copyright Styles Starts */

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2c2c2c;
}

.copyright,
.copyright a {
    color: #fff;
}

.copyright-text br {
    display: none;
}

.copyright-text a:hover,
.copyright-text a:focus {
    text-decoration: underline;
}

.copyright ul>li:not(:last-child) {
    padding-right: 14px;
}

.copyright ul>li a:hover,
.copyright ul>li a:focus {
    color: #f55d2c;
    ;
    ;
}


/* Image Styles Starts */

.img-style-1 {
    padding: 5px;
    border: 1px solid #e9e9e9;
}